h1 {
    color: red
}

#PosTableau {
    display: flex;
    align-items: center
}

#tab tr:hover {
    background-color: #ddd;
}

#tab {
    width: 100%;
    border-collapse: collapse;
}

    #tab th, #tab td {
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid black;
    }
}

td {
    width: 45px;
    height: 235px;
}