h1 {
    color: red
}

#PosTableau {
    display: flex;
    align-items: center
}

#tab tr:hover {
    background-color: #ddd;
}

#tab {
    width: 100%;
    border-collapse: collapse;
}

    #tab th, #tab td {
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid black;
    }

    #tab th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }